@media (max-width: 700px) {
  nav #toggle-button {
    display: flex;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  nav ul li {
    text-align: center;
  }

  nav ul li a {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 700px) {
}
