
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: gray;
}

nav #home{
    margin-right: 14rem;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

ul{
    display: flex;
}

nav ul a{
    list-style: none;
    margin-right: 2.5rem;
    text-decoration: none;
    color: white;

}