* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(36, 37, 37);
  opacity: 0.75;
  position: absolute;
  z-index: 2;
  width: 100%;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
}

nav ul a {
  padding: 1rem;
  text-decoration: none;
  color: white;
  display: block;
}

nav ul li:hover {
  background-color: #555;
}

nav #home {
  margin: 0.5rem;
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

nav #toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

nav #toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.name {
  text-align: center;
  color: white;
  grid-row: 1 / 5;
  background-image: url(/images/street.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.name-box {
  font-size: 3rem;
  background-color: rgb(36, 37, 37);
  opacity: 0.75;
  border-radius: 1rem;
}

.occupation-box {
  font-size: 1.3rem;
  background-color: rgb(36, 37, 37);
  opacity: 0.75;
  border-radius: 1rem;
}

.about {
  background-color: rgb(55, 59, 59);
  color: white;
}

.projects {
  background-color: yellowgreen;
}

.contact {
  background-color: rgb(121, 87, 81);
}

.footer {
  background-color: tomato;
}
